In [1]:
from sklearn.datasets import load_iris
import pandas as pd
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [2]:
#Load the Iris dataset
iris = load_iris()
#View the iris data keys
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [3]:
#it is a key of dictionary iris
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [14]:
##Convert data and target into a data frames
#Extract the first 100 features
X = pd.DataFrame(data = iris.data[:125,], columns = iris.feature_names)
X.head(125)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
100                6.3               3.3                6.0               2.5
101                5.8               2.7                5.1               1.9
102                7.1               3.0                5.9               2.1
103                6.3               2.9                5.6               1.8
104                6.5               3.0                5.8               2.2

[105 rows x 4 columns]

In [21]:
#inspect the feature
#target
y = pd.DataFrame(data=iris.target[:125], columns = ['irisType'])
y.head(125)

     irisType
0           0
1           0
2           0
3           0
4           0
..        ...
120         2
121         2
122         2
123         2
124         2

[125 rows x 1 columns]

In [10]:
#split the dataset into trianing and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=42)

In [26]:
# Create a Perceptron classifier
mdlPercept = Perceptron()
# Train the classifier
mdlPercept.fit(X_train, y_train)
# Make predictions on the test set
y_pred = mdlPercept.predict(X_test)
# Calculate accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0

C:\Users\HP\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [25]:
print(y.value_counts())

irisType
0           50
1           50
2           25
Name: count, dtype: int64